[submodule "submodules/btcpayserver"]
	path = submodules/btcpayserver
	url = https://github.com/btcpayserver/btcpayserver
[submodule "submodules/NNark"]
	path = submodules/NNark
	url = https://github.com/arkade-os/dotnet-sdk.git
[submodule "submodules/regtest"]
	path = submodules/regtest
	url = https://github.com/BoltzExchange/regtest
